body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    background-image: url('background1.jpg');
}

h3{
    color: white;
}

h3 a{
    color: #ffd700;
}

fieldset {
    width: 90%;
    max-width: none;
    min-width: 600px ;
    padding: 40px 30px;
    border: none;
    border-radius: 15px;
    background: rgba(0,0,0, 0.9);
    box-shadow: 0 8px 30px rgba(0,0,0,0.3);
    margin: 50px auto;
    text-align: center;
}

legend{
    color:white;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    padding: 12px 0;
}

table input[type="text"],
table input[type="password"],
table input[type="number"],
table input[type="file"],
table input[type="email"] {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    background: rgba(255,255,255,0.2);
    color: #fff;
    display: block;
    box-sizing: border-box;
}

table input::placeholder {
    color: #eee;
    font-style: italic;
}

button, input[type="submit"] {
    width: 100%;
    padding: 12px 0;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 15px;
}

button:hover,
input[type="submit"]:hover {
    background-color: #ffd700;
    transform: scale(1.05);
}

.footercontentlr{
    text-align: center;
    color: white;
}



